
/*********************************** FADE IN ************************************/


/********** OMITTED AND ADDED TO .BACKGROUND **********
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
********** OMITTED AND ADDED TO .BACKGROUND **********/


.background {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  color: steelblue;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
           /* renamed from 'body' due to redundancy */

.fade-container {              /* renamed from 'container' due to redundancy */
  max-width: 800px;
  margin: 0 auto;
  
}

.heading {
  font-size: 3rem;
}

.subheading {
  font-size: 1.5rem;
  color: #000;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}





/* OMITTED
.item:not(:first-child) {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
} 
*/

.item__content {
  background-color: steelblue;
  color: #f3f3f3;
  text-align: center;
  padding: 7rem;
  border-radius: 7px;
}

.item > p {
  text-align: center;
}


.left {
  transform-origin: left center;
  transform: translateX(-50%);
}

.right {
  transform-origin: right center;
  transform: translateX(50%);
}

.slide-in {
  opacity: 1 !important;
  transform: translateX(0);
}
/******************************** END FADE IN **************************/